*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.underline{
    border-bottom: solid 1px lightgray;
    padding-bottom: 3em;
}
.block{
    display: block;
}
.padding-bot-4{
    padding-bottom: 4em;
}

.border-top{
    border-top: solid 1px lightgray;
}



.nav-menu{
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
}

.logo{
    vertical-align: sub;
}

.col-left{
    float: left;
    height: 90px;
    
    line-height: 90px;
    vertical-align: middle;
}



.col-left ul{
    display: inline-block;
}

.col-left li{
    
    display: inline-block;
    padding: 0 1em;
}

.col-left a{
    text-decoration: none;
    color: black;
}

.col-right{
    float: right;
    
    height: 90px;
    
    line-height: 90px;
    vertical-align: middle;
}

.col-right ul{
    display: inline-block;
}

.col-right li{
    
    display: inline-block;
    padding: 0 1em;
}

.col-right a{
    text-decoration: none;
    color: black;
}

.col-right .btn-nav{
    line-height: 1em;
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
}

.jumbotron{
    width: 100%;
    margin: auto;
    background-color:#b4d0e7;
    
    padding-top: 90px;
    position: relative;
    
}

.titolo-1{
    font-size: 2.1em;
    padding-top: 1em;
    margin: 0 3em;
}


.left-text{
    text-align: left;
    width: 30%;
    padding: 1em 0;
    margin: 0 3em;
}

.btn-jumbotron{
    line-height: 1em;
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 0 3em;
}

.left-text p {
    padding: 3em 0;
    margin: 0 3em;
}

.left-text span{
    display: block;
    padding: 1em 0;
    margin: 0 3em;
}

.btn-arrow .fas{
    color: black;
    font-size: 3em;
    padding: 1em 0;
    margin: 0 1em;
    
}

.jumbotron .jumbotron-img{
   position: absolute;
    top: 48%;
    left: 34%;
    max-width: 40%;
}

.main-col{
    width: 75%;
    
    
    margin: 0 auto;
    padding-top: 15em ;
}

.main-title{
    font-size: 2.5em;
}
.checkbox{
    
    padding-top: 3em;
}

.checkbox input{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

        
}

.checkbox label{
padding-right: 2em;
}

.box-sub{
    margin-top: 2em;
}

.col-left-sub{
    width: 25%;
    border: solid 1px lightgray;
    height: 1100px;
    float: left;
    
}

.col-center-sub{
    width: 25%;
    border: solid 1px lightgray;
    height: 1100px;
    float: left;
    margin: 0 12.5%;
}

.col-right-sub{
  width: 25%;
    border: solid 1px lightgray;
    height: 1100px;
    float: left;
    
}

.box-title{
    
    text-align: center;
    line-height: 55px;
    text-align: center;
    border-bottom: solid 1px lightgray;
}

.main-content{
    margin: 0 1em;
    margin-top: 1.5em;
}

.main-content ul{
    list-style: none;
}
.main-content li{
    padding: 0.5em 0;
    font-size: 87%;
}
.main-content .prize{
     font-weight: bold;
     font-size: 105%;
}
.main-content .text-gray{
    color:#7d8996;
    padding-bottom: 3em;
}

.btn-sub{
    margin: 3em 0;
}
.btn-sub .btn{
    line-height: 1em;
    background-color: #007bff;
    color: white;
    padding: 0.5em 2.5em;
    text-decoration: none;
}

.btn-sub span{
    margin: 3em 0;
}
.btn-sub span a{
    color:#1e73fe;
    text-decoration: none;

}

.list-sub .fas{
    color:#1e73fe;
    padding-right: 7px;
}
.list-sub h3{
    margin-bottom: 2em;
}

.main-col-footer{
    width: 100%;
    margin-top: 3em;
    border: solid 1px lightgray;
}
.col-left-main-footer{
    float: left;
    width: 70%;
    
}
.col-left-main-footer >p{
    padding: 0.7em;
    
}
.col-left-main-footer >h4{
    padding: 0.7em;
    
}
.col-left-main-footer h2{
    padding: 0.5em;
}
.col-right-main-footer{
    float: left;
    width: 30%;
}

.col-right-main-footer .btn{
    color:#1e73fe;
    text-decoration: none;
    line-height: 1em;
    background-color: #007bff;
    color: white;
    padding: 0.8em 3.5em;
    text-decoration: none;
    margin-top: 2em;
    display: inline-block;
    
}

.photo-text{
    margin-top: 7em ;
}
.photo{
    float: left;
    width: 50%;
}
.photo img{
    max-width: 100%;
    height: auto;
}

.testo-left-photo{
    float: left;
    width: 50%;
    padding-left: 3em;
    padding-top: 3em;
}
.testo-left-photo h2{
    font-size: 2em;
    padding-bottom: 1em;
}
.testo-left-photo h6 {
    padding-bottom: 2em;
    font-size: 1em;
    line-height: 1.8em;
}
.btn-black{
    text-decoration: none;
    color:black;
    padding: 0.5em 3em;
    border: solid 2px black;
}
.img-text-box{
    margin-top: 4em ;
}
.img-text-box img{
    max-width: 100%;
    height: auto;
}
.img-text-box h1{
    font-size: 3em;
}
.box{
    float: left;
    width: 30%;
    margin-top: 3em;
}

.box-center{
    margin: 3em 5%;
}

.title-box-img{
    padding-bottom: 1em;
}
.footer-main{
    margin-top: 5em;
}
.footer-main h2{
    font-size: 2.7em;
}

.footer-main a{
    color:#1e73fe;
    font-weight: bold;
    display: inline-block;
    margin: 2em 0;
    
}

.col-svg-left,
.col-svg-center,
.col-svg-right{
    float: left;
    height: 400px;
    
}

.col-svg-left,
.col-svg-right{
    width: 30%;
    text-align: center;
    height: 30em;
    
}

.col-svg-center{
    width: 40%;
    background-color:#f5f5f5 ;
    height: 30em;
    padding: 3em;
    overflow: auto;
}
.col-svg-center img{
    max-width: 20%;
    
}
.hr-wit{
    width: 8%;
    margin: 3em 0;
    
}

.box-svg-img{
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    

}

.box-svg-img img{
    width: 50%;
    position: absolute;
    filter: invert(100%);
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.green{
    background-color: #a3d39b;
}
.purple{
    background-color:#61072b ;
}

.lightblue{
    background-color: #0293ce;
}

.tomato-red{
    background-color: #fe1b1c;
}

.red{
    background-color: #d5011f;
}
.lightblue-2{
    background-color:#b4d0e7;

}
.blue{
    background-color:#0d2481 ;
}
.yellow{
    background-color: #ffd830;
}
.footer-box-svg{
    padding-left: 8em;
}
.footer-box-svg h2{
    font-size: 3.5em;
    padding: 2em;
    color: #61072b;
}

.col-right-footer{
    float: left;
    width: 40%;
}

.col-left-footer{
    float: left;
    width: 60%;
}

.btn-white{
    line-height: 1;
    color: black;
    background-color:white ;
    text-decoration: none;
    border: solid 1px lightgray;
    padding: 0.5em 4em ;
    margin-top: 9em;
    display: inline-block;
    font-weight: bold;  
}

.faq{
    width: 70%;
    margin: 10em auto;
}

.riga{
    line-height: 5em;
    border-bottom: solid 1px lightgray;
    font-weight: bold;
}

.faq h2{
    font-size: 2em;
    padding-bottom: 1em;
}

.chevron-down{
    float: right;
}

footer{
    background-color: black;
    width: 100%;
    height: 500px;
}
.footer-list{
    width: 80%;
    margin: 0 auto;
}
.col-footer{
    float: left;
    width: calc(100% / 5);
    color: white;
    padding: 2em;
    margin-top: 3em;
     
    
    
}
.col-footer h3{
    margin-bottom: 1em;
}
.col-footer ul{
    list-style: none;

}

.col-footer a{
    text-decoration: none;
    color: white;
    line-height: 1.9em;
    font-size: 90%;
}
#frist-col::after{     
    content: '';     
    width: 55%;     
    height: 1px;     
    background-color: gray;     
    margin-top: 6em;     
    display: block; 
}

.text-ita{
    color: lightgray;
    width: 76%;
    margin: 0 auto;
    
    
}
.fa-sort-up{
    padding-left: 0.5em;
    padding-top: 0.2em;
    vertical-align: middle;

    
}